.content4 {
  padding-inline: 20px; /* Moins de padding sur mobile */
  rotate: 0.5deg;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacement entre les sections */
  height: 100%;
  flex-direction: column; /* Par défaut */
}

.pages {
  height: 70vh;
  width: calc(65vh * 3 / 2); /* Assure un ratio 2:3 */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: rgb(255, 255, 251);
  border-radius: 15px;
}

@media (max-width: 1279px) {
  .pages {
    height: calc(80vw * 2 / 3); /* Assure le ratio 2:3 basé sur la largeur */
    width: 70vw; /* Utilise toute la largeur de l'écran */
    max-width: 90vw; /* Empêche la largeur de dépasser 90% de l'écran */
  }
}

@media (max-width: 768px) {
  .pages {
    height: calc(90vw * 2 / 3); /* Assure le ratio 2:3 basé sur la largeur */
    width: 70vw; /* Utilise toute la largeur de l'écran */
    max-width: 65vw; /* Empêche la largeur de dépasser 90% de l'écran */
  }
}

@media (max-width: 480px) {
}

.page {
  height: 100%;
  width: 100%;
  user-select: none;
  touch-action: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 15px;
  background-color: rgb(255, 255, 249);
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) -20px 0px 30px -28px inset;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 20px 0px 30px -28px inset;
}

.buttons {
}

button {
  margin-inline: 20px;
}

svg {
  width: 30px;
  height: 30px;
}

.disabled-icon {
  color: rgba(175, 175, 175, 0.753);
  transition: all 0.2s;
}

.icon {
  color: rgba(16, 18, 26, 0.842);
  transition: all 0.2s;
}
