.overlay-container-3.visible {
  top: 50px;
  display: flex;
  align-items: center;
}

.overlay-tab-3 {
  position: absolute;
  background-color: #cccccc;
  color: rgb(15, 15, 15);
  font-weight: bold;
  font-size: 30px;
  padding: 10px 100px;
  border-radius: 20px 20px 0 0;
  left: 32%;
}

.content3 {
  height: 100%;
  display: flex;
  flex-wrap: wrap; /* Pour gérer la répartition sur petits écrans */
  justify-content: space-around; /* Centrer les éléments horizontalement */
  padding: 30px;
  align-items: center;
  rotate: 0.5deg;
}

@media (max-height: 768px) {
  .overlay-tab-3 {
    padding: 5px 30px;
    font-size: 20px;
  }
  .content3 {
    flex-direction: row;
    padding-inline: 15px;
    flex-wrap: inherit;
    justify-content: space-evenly;
    align-items: first baseline;
    overflow: scroll;
  }

  .text-base {
    font-size: 0.6rem;
    line-height: 0.9rem;
    max-width: 100px;
  }

  .text-lg {
    font-size: 0.7rem;
    line-height: 1rem;
    max-width: 100px;
  }

  .text-sm {
    font-size: 0.6rem;
    line-height: 1rem;
  }

  img {
    width: 0%;
  }

  .bg-cyan-200 {
    background-color: rgb(255, 255, 255, 1) !important;
  }

  .ring-white {
    --tw-ring-opacity: 0;
  }
}
/* 
@media (max-width: 480px) {
  .content3 {
    flex-direction: column;
    align-items: center;
  }
}*/

.text-cyan-600 {
  color: black;
}

.bg-cyan-200 {
  background-color: rgb(255, 255, 255);
}

.image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
